@model WebCoreIsIstek.Models.tbKullanicilar

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>tbKullanicilar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KullanıcıAdı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KullanıcıAdı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Şifresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Şifresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdıSoyadı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdıSoyadı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grubu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grubu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adminmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adminmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ünvanı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ünvanı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LokasyonID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LokasyonID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FaaliyetAlaniID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FaaliyetAlaniID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emaili)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emaili)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CepTelefonu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CepTelefonu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DahiliTelefonu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DahiliTelefonu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotografi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotografi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UstAmiriID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UstAmiriID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SuanSistemde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SuanSistemde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DahiliMesajlaşmadaGörünür)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DahiliMesajlaşmadaGörünür)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BakımOnarımYapabilir)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BakımOnarımYapabilir)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YerelIPAdresi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YerelIPAdresi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SonGirişZamanı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SonGirişZamanı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SonÇikişZamanı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SonÇikişZamanı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aktif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aktif)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.KullaniciID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
